* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:focus {
  color: rgb(167, 144, 238);
}

.inner {
  width: 1100px;
  /* 가운데 정렬 */
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
  background-color: rgba(255, 255, 255, .3);
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

/* header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(255, 247, 227);
  border-bottom: 1px solid #c8c8c8;
  z-index: 10;
}

header>.inner {
  height: 120px;
  position: relative;
  z-index: 10;
}

/* .sub-menu */
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  z-index: 10;
}

header .sub-menu ul.menu {
  display: flex;
  font-family: Arial, sans-serif;
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before {
  content: "";
  /* 구분선 */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  /* position 자동으로 block으로 바뀜 */
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li:first-child:before {
  display: none;
}

header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}

header .logo {
  height: 100px;
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  margin: auto;
}

header img {
  position: absolute;
  height: 120px;
  width: 90px;
}

/* main-menu */
header .main_menu {
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

header .main_menu .menu_list {
  display: flex;
}

header .main_menu .menu_list>li a {
  display: block;
  padding: 10px 60px 24px 60px;
  color: black;
}

/* 각 테마별 키컬러로 작성 기준 #FEFAEF 점차 각 지역 테마 색으로 https://cssgradient.io/  아래색이 기준 */
.background {
  background: rgb(255, 227, 227);
  background: linear-gradient(0deg, rgba(255, 227, 227, 1) 0%, rgba(254, 250, 239, 1) 100%);
}

/* LOCATION */
.location {
  /* background-color:#FEFAEF; */
  margin-top: 120px;
}

.location .inner {
  padding: 40px 0;
}

.location .inner .swiper .swiper-wrapper .swiper-slide img {
  width: 190px;
  height: 85px;
  border-radius: 20%;
}

.location .swiper {
  width: 100%;
  height: 80px;
}

.location .swiper-prev,
.location .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid black;
  background-color: #F9E31E;
  border-radius: 50%;
  outline: none;
  color: black;
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.location .swiper-prev {
  left: -100px;
}

.location .swiper-next {
  right: -100px;
}

.location .swiper-prev:hover,
.location .swiper-next:hover {
  background-color: #e1f601;
  color: black;
}

.location h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  font-size: 34px;
  font-weight: 700;
}

/* region */
.region {
  border-top: 1px solid #c8c8c8;
  margin-top: 40px;
  padding-bottom: 60px;
}

.region_content {
  display: none;
  width: 800px;
  /* 가운데 정렬 */
  margin: auto;
  position: relative;
}

.region_content .content-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.region_content .image-container {
  margin-right: 50px; /* 이미지와 텍스트 사이 간격 조정 */
}

.region_content .image-container img {
  width: 350px;
  height: 250px;
  object-fit: cover; /* 이미지가 자리를 차지하도록 설정 */
  object-position: center center;
}

/* default */
.region_default {
  width: 800px;
  /* 가운데 정렬 */
  margin: auto;
  position: relative;
  padding-bottom: 60px;
}

.region_default .item-default1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.region_default .item-default1 .image-default {
  margin-right: 70px;
}

.region_default .item-default1 .image-default img {
  width: 400px;
  height: 250px;
  object-fit: cover; /* 이미지가 자리를 차지하도록 설정 */
  object-position: center center;
}

.text-container {
  flex: 1;
}

.text-container strong {
  font-weight: 900;
}

.text-container p {
  line-height: normal;
  font-size: 15px;
  width: 500px;
}

/* footer */
footer {
  background-color: #F9F0E7;
  border-top: 1px solid #c8c8c8;
  
}

footer .inner {
  padding: 40px 0 60px 0;
}

footer .menu {
  display: flex;
  justify-content: center;
}

footer .menu li {
  position: relative;
}

footer .menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}

footer .menu li:last-child::before {
  display: none;
}

footer .menu li a {
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
}

footer .menu li a.green {
  color: #669900;
}

footer .info {
  margin-top: 30px;
  text-align: center;
}

footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}

footer .info span:last-child {
  margin-right: 0;
}

footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
