*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: "Noto Sans KR", sans-serif;
  color:#333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  
}
img{
  display: block;
}

a{
  text-decoration: none;
}
button{
  border: 0;
  outline: 0;
}
.inner{
  width: 1100px;
  /* 가운데 정렬 */
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
  background-color: rgba(255, 255, 255,.3);
  
}

.btn:hover{
  background-color: #333;
  color: #fff;
}

/* header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(255, 247, 227);
  border-bottom: 1px solid #c8c8c8;
  z-index: 10;
}

header > .inner{
  height: 120px;
  position: relative;
  z-index: 10;
}

/* .sub-menu */
header .sub-menu{
  position: absolute;
  top:10px;
  right: 0;
  display: flex;
  z-index: 10;
  
}

header .sub-menu ul.menu{
  display: flex;
  font-family: Arial, sans-serif;
}

header .sub-menu ul.menu li{
  position: relative;
} 

header .sub-menu ul.menu li::before{
  content: "";
  /* 구분선 */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  /* position 자동으로 block으로 바뀜 */
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li:first-child:before{
  display: none;
}

header .sub-menu ul.menu li a{
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}

header .logo{
  height: 100px;
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  margin: auto;
}

header img{
  position: absolute;
  height: 120px;
  width: 90px;
}

/* main-menu */
header .main_menu{
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

header .main_menu .menu_list{
  display: flex;
  
}

header .main_menu .menu_list > li a{
  display: block;
  padding: 10px 60px 24px 60px;
  color: black;
}

/* write */
.write{
  margin-top: 120px;
  background-color: #f6f5ef;
  height: 800px;
  
  
  
}

.board_wrap {
  width: 1000px;
  margin: 100px auto;
  padding: 50px;
  
}

.board_title {
  margin-bottom: 30px;
}

.board_title strong {
  font-size: 2rem;
}

.board_title p {
  margin-top: 5px;
  font-size: 1.2rem;
}

.bt_wrap {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
  text-align: center;
}

.bt_wrap input{
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.2rem;
  background: #000;
  color: #fff;
}

.bt_wrap a {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.2rem;
  background: #000;
  color: #fff;
}
.bt_wrap a:first-child {
  margin-left: 0;
}

.board_write {
  border-top: 2px solid #000;
}
.board_write .title,
.board_write .info {
  padding: 15px;
}

.board_write .info {
  border-top: 1px dashed #ddd;
  border-bottom: 1px solid #000;
  font-size: 0;
  
}

.board_write .title dl {
  font-size: 0;
}

.board_write .info dl {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
}
.board_write .title dt,
.board_write .info dt {
  width: 100px;
}

.board_write .title dd {
  width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
  padding: 10px;
  box-sizing: border-box;
}

.board_write .title input[type="text"] {
  

  width: 80%;
}

.board_write .cont {
  border-bottom: 1px solid #000;
}


.board_write .cont textarea {
  display: block;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  border: 0;
  resize: vertical;
}






/* footer */
footer{
  background-color: #F9F0E7;
  border-top: 1px solid #333;
}

footer .inner{
  padding: 40px 0 60px 0;
}

footer .menu{
  display: flex;
  justify-content: center;
}
footer .menu li{
  position: relative;
}

footer .menu li::before{
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}

footer .menu li:last-child::before{
  display: none;
}

footer .menu li a{
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
}

footer .menu li a.green{
  color: #669900;
}


footer .info{
  margin-top: 30px;
  text-align: center;
}

footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}

footer .info span:last-child{
  margin-right: 0;
}
footer .copyright{
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
