#backcolor {
	position: relative;
	background-color: #beb6f8;
	height: 600px;
	position: relative;
	overflow: auto;
}
#logo{
	color:white;
	font-size:medium;
	padding-top: 40px;
	font-weight: bold;
}
#nav {
	position: absolute;
	top: 30px;
	left: 150px;
}

#submenu_back {
	top:100%;
	padding: 0;
	width: 1300px;
	height: 0px;
	background-color: #bbb6bc;
	opacity: 0.6;
	position: absolute;
	transition: height 0.3s;
	-webkit-transition: height 0.3s;
	top: 50px; /* 조정된 부분 */
	
}

.intro {
	list-style-type: none;
}

.intro ul {
	list-style-type: none;
	padding: 0;
}

.intro a {
	text-decoration: none;
	text-align: center;
	color: black;
	font-size: 16px;
}

.intro>li {
	display: inline-block;
	position: relative;
	width: 150px;
}

.intro>li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1; /* 상위 메뉴보다 앞으로 나오도록 설정 */
}

.intro:hover>li ul {
	display: block;
}

.intro>li:hover>a{
	font-weight:bold;
}

.intro > li ul>li>a:hover{
	font-weight:bold;
}
.intro:hover+#submenu_back, #submenu_back:hover {
	height: 350px;
}

.intro>li ul li a {
	display: block;
	color: black;
	margin-bottom: 10px;
	margin-top:30px;
}